body {
  font-family: "Inter", sans-serif;
}
.tab-link.active {
  border-bottom-color: #f97316; /* orange-500 */
  color: #f97316;
}
.loader {
  border: 4px solid #374151;
  border-top: 4px solid #f97316;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
